.html{
overflow-x: hidden;
}
body{
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	background:linear-gradient(45deg, #ffb6c1,#ece7e6,#fcf632);/*グラデーションを定義*/
	background-size: 200% 200%;/*サイズを大きくひきのばす*/
	animation: bggradient 20s ease infinite;
}
.title{
line-height:80%;
}
@keyframes bggradient{
	0% {
		background:#ffb6c1
	}
	25% {
		background:#ece7e6
	}
	50% {
		background:#fcf632
	}
	75% {
		background:#ece7e6
	}
	100% {
		background:#ffb6c1
	}
}
#wrapper{
/*描画されるテキストを中央寄せにする*/
	display:flex;
	justify-content: center;
	align-items: center;
}
#particle{
    width:75%;
	vertical-align: bottom;/*canvasタグ下に余白が生まれるのを防ぐ*/
}
.list-centered {
  text-align: center;
}
.list-centered li {
  display: inline-block;
}
#pagetop {
    position:fixed;
    bottom:0px;
    right:0px;
    color: #ffffff; /* 文字色 */
    font-size:0px;
    text-decoration:none;
    background: linear-gradient(
    -45deg,
    #fff 25%,
    #f4f4ed 25%, #f4f4ed 50%,
    #fff 50%, #fff 75%,
    #f4f4ed 75%, #f4f4ed
  );
  background-size: 0px 0px; 
  border-radius: 50%; /* ボタンの丸み */
  opacity: 1.0; /* ボタンの透明度 */
  z-index: 99;
}
/* ページトップへ戻るボタン：ホバー時 */
#pagetop:hover {
    color: #ffffff; /* 文字色 */
    opacity: 0.7; /* ボタンの透明度 */
}
#pagetop img {
 width:131px;
 height:300px;
}
@media only screen and (max-width: 750px) {
#pagetop img {
 width:26px !important;
 height:60px !important;
}
}
